.container {
  display: flex;
  height: 100vh;
}

.container-inner {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.heading {
  font-size: x-large;
}

.m-auto {
  margin: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.px-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.w-300 {
  width: 300px;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.gap-10 {
  gap: 10px;
}

.gap-5 {
  gap: 5px;
}

.btn {
  width: 100%;
  border-radius: 4px;
  border: none;
  padding: 10px;
  cursor: pointer;
  background-color: darkblue;
  color: white;
}

@media (max-width: 683px) {
  .heading {
    font-size: larger;
    text-align: center;
  }
}

@media (max-width: 360x) {
  .heading {
    line-break: loose;
  }
  .px-2 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .w-300 {
    width: 100%;
  }
}
