.container {
  display: flex;
  height: 100vh;
  min-height: max-content;
}

.sub-container {
  padding: auto;
}

.container-inner {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.heading {
  font-size: x-large;
}

.m-auto {
  margin: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.px-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.w-300 {
  width: 300px;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.gap-10 {
  gap: 10px;
}

.gap-5 {
  gap: 5px;
}

.btn {
  width: 100%;
  border-radius: 4px;
  border: none;
  padding: 10px;
  cursor: pointer;
  background-color: #0b0ba1;
  color: white;
  transition: all 300ms;
}

.btn:hover {
  background-color: #1313c7;
}

.textInputField {
  width: auto;
  padding: 10px;
  border: 2px solid #aaaa;
  border-radius: 4px;
}

@media (max-width: 683px) {
  .heading {
    font-size: larger;
    text-align: center;
  }
  .container-inner {
    padding-bottom: 3rem;
  }
  .sub-container {
    margin: 2rem auto;
  }
}

@media (max-width: 360x) {
  .heading {
    line-break: loose;
  }
  .px-2 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .w-300 {
    width: 100%;
  }
}

.surprize-absolute {
  position: absolute;
  top: 10px;
  right: 1rem;
}

.surprize {
  border: none;
  cursor: pointer;
  font-size: small;
  background-color: #0b0ba1;
  color: white;
  width: max-content;
  padding: 7px;
  border-radius: 4px;
}

.modal-container {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal {
  margin: auto;
  background: #fff;
  border-radius: 4px;
  padding: 10px;
}
